@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Global Tags */

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}

span {
  font-size: 0.9rem;
  color: #757373;
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}
/* login */


/* Navigation */

nav {
  position: fixed;
  width: 100%;
  background: linear-gradient(to top left, #333399 -204%, #ffffff 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vw 3vw;
  align-items: center;
  box-shadow: 2px 2px 10px rgb(0, 0, 0.55);
  z-index: 999;
}

nav img {
  width: 43px;
  cursor: pointer;
}

nav .navigation {
  display: flex;
}

#menu-btn {
  width: 30px;
  height: 30px;
  display: none;
}

#menu-close {
  display: none;
}

nav .navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

nav .navigation ul li {
  list-style: none;
  margin-left: 30px;

}

nav .navigation ul li a {
  list-style: none;
  margin-left: 30px;

}

nav .navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .navigation ul li {
  list-style: none;
  margin-left: 30px;
}

nav .navigation ul li a {
  text-decoration: none;
  color: #06005e;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

nav .navigation ul li a:active,
nav .navigation ul li a:hover {
  color: #654ce4;
}

/* Home */

#home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url("images/back.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

#home h2 {
  color: aliceblue;
  font-size: 2.2rem;
  letter-spacing: 1rem;
  font-weight: bold;
}

#home p {
  width: 43%;
  color: aliceblue;
  font-size: 1.1rem;
  line-height: 2rem;
}

#home .btn {
  margin-top: 30px;

}

#home a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: aliceblue;
  font-weight: 600;
  border-radius: 5px;

}

#home a.blue {
  color: aliceblue;
  background: rgb(21, 21, 100);
  transition: 0.3s ease;
}

#home a.blue:hover {
  color: rgb(21, 21, 100);
  background: aliceblue;
}

#home a.yellow {
  color: aliceblue;
  background: #FDC93B;
  transition: 0.3s ease;
}

#home a.yellow:hover {
  color: #FDC93B;
  background: aliceblue;
}

/* features */

#features {
  padding: 5vw 8vw 0 8vw;
  text-align: center;
}

#features .fea-base {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}

#features .fea-box {
  background: aliceblue;
  text-align: start;
  padding: 17px;
}

#features .fea-box i {
  font-size: 2.3rem;
  color: rgb(21, 21, 100);
}

#features .fea-box h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #06005e;
  padding: 13px 0 7px 0;
}

#features .fea-box p {
  font-size: 1rem;
  font-weight: 400;
  color: #000000ad;

}

/* course */

#course {
  padding: 8vw 8vw 8vw 8vw;
  text-align: center;
}

#course .course-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;

}

#course .courses {
  text-align: start;
  background: aliceblue;
  height: 100%;
  position: relative;
}

#course .courses img {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: center;
}

#course .courses .details {
  padding: 15px 15px 0 15px;

}

#course .courses .details i {
  color: #FDC93B;
  font-size: .9rem;
}

#course .courses .cost {
  background-color: #03038fc7;
  color: aliceblue;
  line-height: 70px;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  bottom: 100px;
}


/* registration */

#registration {
  padding: 6vw 8vw 6vw 8vw;
  background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)),
    url(images/signup.jpg);
  margin-top: 80px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

#registration .reminder {
  color: aliceblue;

}

#registration .reminder h1 {
  color: aliceblue;
}

#registration .reminder .time {
  display: flex;
  margin-top: 40px;
}

#registration .reminder .time .date {
  text-align: center;
  padding: 13px 33px;
  background: rgba(99, 112, 168, 0.5);
  backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px 0 rgba(5, 4, 46, 0.7);
  border-radius: 5px;
  margin: 15px 33px 10px 5px;
  font-size: 1.1rem;
  font-weight: 600;
}

#registration .form {
  background: aliceblue;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-left: 463px;
  padding: 40px;
  box-shadow: 0 8px 32px 0 rgb(31, 38, 135, 0.37);
  margin-right: 50px;
}

#registration .form input {
  margin: 15px 0;
  padding: 15px 10px;
  border: 1px solid rgb(113, 128, 218);
  outline: none;
}

#registration .form input::placeholder {
  color: #06005e;
  font-weight: 500;
  font-size: 0.9rem;
}

#registration .form a.yellow {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: aliceblue;
  font-weight: 600;
  border-radius: 5px;
  color: aliceblue;
  background: #FDC93B;
  transition: 0.3s ease;
}

#registration .form a.yellow:hover {
  color: #FDC93B;
  background: aliceblue;
}

/* experts */

#experts {
  padding: 8vw 8vw 0 8vw;
  text-align: center;
}

#experts .expert-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}

#experts .expert-box .profile {
  background: aliceblue;
  padding: 30px 10px;
}

.pro-links {
  margin-top: 10px;
}

.pro-links i {
  padding: 10px 13px;
  border: 1px solid rgb(35, 35, 85);
  cursor: pointer;
  transition: 0.3s ease;
}

.pro-links i:hover {
  background: #090081;
  color: aliceblue;
  border: 1px solid rgb(35, 35, 85);
  cursor: pointer;
}


/* footer */

footer {
  padding: 8vw;
  background-color: rgba(2, 2, 36, 0.877);
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

footer .footer-col {
  padding-bottom: 40px;
}

footer h3 {
  color: aliceblue;
  font-weight: 600;
  padding-bottom: 20px;
}

footer li {
  list-style: none;
  color: #9e9c9c;
  padding: 10px 0;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

footer li:hover {
  color: #757373;
}

footer p {
  color: #9e9c9c;
}

footer .subscribe {
  margin-top: 20px;
}

footer input {
  width: 220px;
  padding: 15px 12px;
  background: #555a88b0;
  border: none;
  outline: none;
  color: aliceblue;
}

footer .subscribe a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 12px 15px;
  background-color: aliceblue;
  font-weight: 600;
  border-radius: 5px;
}

footer .subscribe a.yellow {
  color: rgb(0, 0, 0);
  background: #FDC93B;
  transition: 0.3s ease;
}

footer .subscribe a.yellow:hover {
  color: #FDC93B;
  background: aliceblue;
}

footer .copyright {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

footer .copyright p {
  color: aliceblue;
}

footer .copyright .pro-links {
  margin-top: 10px;
}

footer .copyright .pro-links i {
  background-color: #9e9c9c;
  color: aliceblue;
  cursor: pointer;
  transition: 0.3s ease;
}

footer .copyright .pro-links i:hover {
  background: #FDC93B;
  color: aliceblue;

}

/* About */

#about-home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url("images/back1.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;

}

#about-home h2 {
  color: aliceblue;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

#about-container {
  display: flex;
  align-items: center;
  padding: 8vw 8vw 2vw 8vw;
}

#about-container .about-img {
  width: 59%;
  padding-right: 60px;
}

#about-container .about-img img {
  width: 100%;
}

#about-container .about-text {
  width: 49%;
  padding: 65px;
}

#about-container .about-text h2 {
  color: #06005e;
  padding-bottom: 15px;
}

#about-container .about-text p {
  color: #9e9c9c;
  padding-bottom: 300;
}

#about-container .about-text .about-fe {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

#about-container .about-text .about-fe img {
  width: 50px;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}

#about-container .about-text .about-fe .fe-text {
  width: 90%;
}

#about-container .about-text .about-fe .fe-text h5 {
  font-size: 16px;
  color: rgba(5, 4, 46, 0.7);
}

#trust {
  text-align: center;
  padding: 8vw;
}

#trust .trust-img {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#trust .trust-img img {
  width: 120px;
  height: auto;
}

/* Blog */

#blog-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8vw;
}

#blog-container .blogs {
  width: 60%;
}

#blog-container .blogs img {
  width: 100%;
  border-radius: 19px;
}

#blog-container .blogs .post {
  padding-bottom: 60px;
}

#blog-container .blogs .post h3 {
  color: rgba(5, 4, 46, 0.7);
  padding: 15px 0 10px 0;
}

#blog-container .blogs .post p {
  color: #666565;
  padding-bottom: 20px;
}

#blog-container .blogs .post a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: #06005e;
  color: aliceblue;
  border-radius: 5px;
  font-weight: 600;
}

#blog-container .cate {
  width: 30%;

}

#blog-container .cate h2 {
  padding-bottom: 7px;

}

#blog-container .cate a {
  text-decoration: none;
  color: #757373;
  font-weight: 500;
  line-height: 45px;
}

#blog-container .blogpost {
  width: 60%;
  margin: 0 auto;
}

#blog-container .blogpost p {
  text-align: justify;
  padding-bottom: 60px !important;
}

/* Course-inner */

#course-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8vw;
}

#course-inner h3 {
  padding: 35px 0 25px 0;
  color: #29303B;
}

#course-inner p {
  color: #64626e;
}

#course-inner hr {
  height: 1px;
  background: #9e9c9c;
  margin-top: 40px;
}


#course-inner .overview {
  width: 70%;
}

#course-inner .overview .course-img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;

}

#course-inner .overview .course-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#course-inner .overview .course-head .c-name {
  width: 70%;
}

#course-inner .overview .course-head .c-name h2 {
  color: #29303B;
}

#course-inner .overview .course-head .c-name .star {
  margin: 6px 0;
}

#course-inner .overview .course-head .c-name .star i {
  color: #FDC93B;
  font-size: 0.9rem;
}

#course-inner .overview .course-head .c-name p {
  font-size: 15px;
}

#course-inner .overview .course-head span {
  padding: 16px 13px;
  color: #5838fc;
  font-size: 18px;
  font-weight: 700;
  background-color: rgba(88, 56, 252, 0.1);
}

#course-inner .learn p {
  font-size: 15px;
  padding-bottom: 26px;
}

#course-inner .learn p i {
  color: #654ce4;
  font-weight: 700;
  margin-right: 20px;
}

#course-inner .tutor {
  display: flex;
}

#course-inner .tutor img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

#course-inner .tutor h5 {
  font-size: 15px;
  padding: 10px;
}

#course-inner .enroll {
  width: 300px;
  padding: 0 30px 30px 30px;
  border-radius: 11px;
  box-shadow: 0px 20px 40px 0 rgb(11 2 55 / 8%);
}

#course-inner .enroll h3 {
  padding-bottom: 10px;
}

#course-inner .enroll p {
  font-size: 15px;
  color: #666464;
  margin: 15px 0;
}

#course-inner .enroll p i {
  color: rgb(113, 128, 218);
  font-weight: 500;
  margin-right: 18px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
}

#course-inner .enroll-btn {
  padding: 25px 0 20px 0;
  margin: auto;
  margin: auto;
  text-align: center;
}

#course-inner .enroll-btn a {
  text-decoration: none;
  font-size: .8rem;
  padding: 13px 45px;
  border-radius: 5px;
  font-weight: 600;
  color: aliceblue;
  background: #333399;
}

/* Contact */

#contact {
  padding: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#contact .getin h2 {
  color: rgba(2, 2, 36, 0.877);
  font-size: 30px;
  font-weight: 800;
  line-height: .8;
  margin-bottom: 16px;
}

#contact .getin p {
  color: #9e9c9c;
  line-height: 24px;
  margin-bottom: 33px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e4ed;
}

#contact .getin h3 {
  color: rgba(2, 2, 36, 0.877);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 15px;
}

#contact .getin .getin-details div {
  display: flex;
}

#contact .getin .getin-details div .get {
  font-size: 16px;
  line-height: 22px;
  color: #654ce4;
  margin-right: 20px;
}

#contact .getin .getin-details div p {
  font-size: 14px;
  border-bottom: none;
  line-height: 22px;
  margin-bottom: 15px;

}

#contact .getin .getin-details .pro-links i {
  margin-bottom: 8px;
}

#contact .form {
  width: 60%;
  background: #e5e4ed4f;
  padding: 40px;
  border-radius: 10px;
}

#contact .form h4 {
  font-size: 24px;
  color: #29303B;
  line-height: 30px;
  margin-bottom: 8px;
}

#contact .form p {
  color: #9e9c9c;
  line-height: 24px;
  padding-bottom: 25px;
}

#contact .form .form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#contact .form .form-row input {
  width: 48%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: #ffffff;
  color: #9e9c9c;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
}

#contact .form .form-col input,
#contact .form .form-col textarea {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: #ffffff;
  color: #9e9c9c;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
}

#contact .form button {
  font-size: .9rem;
  padding: 13px 25px;
  background: rgb(21, 21, 100);
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: aliceblue;
}

#map {
  width: 100%;
  height: 70vh;
  margin-bottom: 8vw;
}

#map iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 769px) {
  nav {
    padding: 15px 20px;
    z-index: 9999;
  }

  nav img {
    width: 31px;
  }


  #menu-btn {
    display: initial;
  }

  #menu-close {
    display: initial;
    font-size: 1.6rem;
    color: aliceblue;
    padding: 30px 0 20px 20px;
  }

  nav .navigation ul {
    position: absolute;
    top: 0;
    right: -220px;
    width: 220px;
    height: 100vh;
    background: #09036171;
    backdrop-filter: blur(4.5px);
    border: 1px slategray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.3s ease;
  }

  nav .navigation ul.active {
    right: 0;

  }

  nav .navigation ul li {
    padding: 20px 0 0px 40px;
    margin-left: 0;
  }

  nav .navigation ul li a {
    color: aliceblue;
  }

  #home {
    padding-top: 0px;
  }

  #home p {
    width: 90%;
  }

  #features {
    padding: 8vw 4vw 0 4vw;
  }

  #course {
    padding: 8vw 4vw 0 4vw;
  }

  #registration {
    margin-top: 8vw;
    padding: 6vw 4vw 6vw 4vw;

  }

  #registration .reminder .time {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  #experts {
    padding: 8vw 8vw 4vw 8vw;
    text-align: center;
  }

  footer .copyright .pro-links {
    margin-top: 15px;
  }


  /* About*/

  #about-container {
    padding: 8vw 4vw 2vw 4vw;
  }

  #about-container .about-img {
    padding-right: 30px;
  }

  #trust .trust-img img {
    width: 50px;
    height: auto;
  }

  /* Blog */
  #blog-container {
    padding: 8vw 4vw;
  }

  #blog-container .blogpost {
    width: 100%;
    margin-top: 30px;
  }

  #blog-container .blogs img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }

  /*Course-inner */
  #course-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8vw 4vw;
  }

  #course-inner .overview {
    width: 100%;
  }

  #course-inner .overview .course-img {
    width: 100%;
    height: 21vh;
    object-fit: cover;
    border-radius: 13px;
    margin-bottom: 26px;
  }

  #course-inner .enroll {
    margin-top: 25px;
    padding: 0 30px 30px 30px;
    border-radius: 11px;
    box-shadow: 0px 20px 40px 0 rgb(113, 128, 218);
  }
  /* Contact */
  #contact {
    padding: 8vw 4vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (max-width: 475px) {
  h1 {
    font-size: 2rem;
  }

  #registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #registration .reminder .time {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* About */
  #about-container {
    flex-direction: column-reverse;
  }

  #about-container .about-img {
    width: 100%;
    padding-right: 0px;
  }

  #about-container .about-text {
    width: 100%;
    padding-bottom: 20px;
  }

  #trust .trust-img {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #trust .trust-img img {
    width: 60px;
    margin: 10px 15px;
    height: auto;
  }

  /* blog */
  #blog-container {
    flex-direction: column;
  }

  #blog-container .blogs {
    width: 100%;
  }

  #blog-container .cate {
    width: 100%;
  }

  #blog-container .blogpost {
    width: 100%;
    margin-top: 50px;
  }

  #blog-container .blogs img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }

  #course-inner .overview .course-head .c-name {
    width: 50%;
  }

  #course-inner .overview .course-head .c-name h2 {
    font-size: 22px;
  }

  #course-inner .overview .course-head span {
    font-size: 22px;
  }

  #course-inner .enroll {
    width: 100%;
  }

  /* Contact */
  #contact {
    padding: 8vw 4vw;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
  }
  #contact .getin {
    width: 100%;
    margin-bottom: 30px;
  }
  #contact .form {
    width: 100%;
    padding: 40px 30px;
  }
  #contact .form .form-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  #contact .form .form-row input {
    width: 100%;
  }
}
